.head{
    display: flex;
    /* background-color: azure; */
    justify-content: space-between;
}
.left{
    /* display: inline-flex; */
    /* justify-content: space-between; */
    height: 30px;
    /* background-color: aqua;  */
    font-size: 20px;
    margin-left: 30px;
}
.right{
    display: flex;
    /* justify-content: space-between;   */
    font-size: 15px;
    margin-right: 30px;
    align-items: center;
    color: gray;
    /* background-color: chartreuse; */
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:#4d94ff;
    margin-top: -30px;
}
.line{
    /* display: inline-flex; */
    height: 0.5px;
    background-color: #191a19;
    width: 96%;
    margin: auto;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #4b4848; 
    height: 50px;  
}
.text{
    font-size: 16px;
    width: 90%;
    margin: auto;
}
.imgfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
}